@import "tailwindcss";
@theme{
  --color-primary:#313131;
  --color-primary-hover: #444444;
  --animate-slide-up:slideUp 0.25s ease;
}
html{
  font-family: 'Inria Sans';
  color:#313131
}
body{
  background-color: #EFEFEF;
}
@keyframes slideUp {
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(0);
  }
}