@import "tailwindcss";
@theme{
  --color-primary:#313131;
  --color-primary-hover: #444444;
  --animate-slide-up:slideUp 0.25s ease;
  --color-red:#FF6868;
  --color-green:#5AFF8C;
  --color-purple:#A75FFF;
  --color-bgColor:#efefef;
  --spacing-header: 72px;
  --animate-float:float ease-in-out infinite;
}
html{
  font-family: 'Inria Sans';
  color:#313131;
  scroll-behavior: smooth;

}
body{
  background-color: #EFEFEF;
  min-height: 100dvh;
  width:100dvw
}
html, body, #root {
  height: 100%;
  width:100%;
}
.sidePadding{
  padding-left:clamp(1rem, 10vw, 12.5rem);
  padding-right:clamp(1rem, 10vw, 12.5rem);
}
@keyframes float {
  0% { transform: translateY(0px); opacity: 0.8; }
  50% { transform: translateY(-15px); opacity: 0.4; }
  100% { transform: translateY(0px); opacity: 0.8; }
}
@keyframes floatbar {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(15px);
  }
  100%{
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(0);
  }
}